<%= link_to "Go to Collectors Index", "/collectors" %>
<br>
<%= link_to "Go to Puzzles Index", "/puzzles" %>
<br>
<%= link_to "Create Puzzle", "/collectors/#{@collector.id}/puzzles/new" %>
<br>

<% @puzzles.each do |puzzle| %>
<h3><p><%= puzzle.name %></p></h3>
<p>Pieces Count: <%= puzzle.pieces_count %></p>
<p>Put Together: <%= puzzle.put_together %></p>
<% end %>


