<%= link_to "Go to Puzzles Index", "/puzzles" %>

<h1>Collectors</h1>
<% @collectors.each do |collector| %>
  <h3><p><%= collector.name %></p></h3>
  <p>Skills Rating: <%= collector.skills_rating %></p>
  <p>Under 30 years old: <%= collector.under_30_yrs %></p>
  <p>Created: <%= collector.created_at %>
<% end %>  