<%= link_to "Go to Puzzles Index", "/puzzles" %>

<h1><%= @collector.name %></h1>
<p>Skills Rating: <%= @collector.skills_rating %></p>
<p>Under 30 Years Old: <%= @collector.under_30_yrs %></p>
<p>Total Puzzle Count: <%= @collector.puzzle_count %></p>
