<%= link_to "Go to Collectors Index", "/collectors" %>
<br>
<%= link_to "Go to Puzzles Index", "/puzzles" %>
<br>

<h1><%= @puzzle.name %></h1>
<%= link_to "Update Puzzle", "/puzzles/#{@puzzle.id}/edit" %>
<br>
<%= button_to "Delete Puzzle", "/puzzles/#{@puzzle.id}", method: :delete %>
<p>Pieces Count: <%= @puzzle.pieces_count %></p>
<p>Put Together: <%= @puzzle.put_together %></p>
